<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
    </ion-buttons>

    <ion-title>Pagina</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="arrow-forward" (click) = "vesAHome()"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="light" (click)="vesAHome()">
    Light
  </ion-button>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>
