<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-icon name="arrow-up-circle-outline"></ion-icon>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  
  <ion-button color="primary" (click)="logEvent($event)">
    Botó amb alert
    </ion-button>
    

<ion-button color="dark" (click)="navigate()">
  Pagina 1 con router
</ion-button>



<ion-button color="danger" routerLink="/pagina2">
  Pagina 2 facil con routerLink
</ion-button>

</ion-content>
